trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  name: 'local-agent-pool'

variables:
  TF_VERSION: '1.6.6'

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: $(TF_VERSION)

- task: TerraformTaskV4@4
  displayName: 'Terraform Init (Dev)'
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: 'environments/dev'
    backendServiceArm: 'azure-terraform-conn'
    backendAzureRmResourceGroupName: 'rg-tf-backend'
    backendAzureRmStorageAccountName: 'tfstatemirhakim01'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'dev.terraform.tfstate'
    commandOptions: '-reconfigure'


- task: TerraformTaskV4@4
  displayName: 'Terraform Validate (Dev)'
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: 'environments/dev'

- task: TerraformTaskV4@4
  displayName: 'Terraform Plan (Dev)'
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: 'environments/dev'
    environmentServiceNameAzureRM: 'azure-terraform-conn'
    commandOptions: >
      -input=false
      -var="location=$(LOCATION)"
      -var="rg_name=$(RG_NAME)"
      -var="admin_username=$(ADMIN_USERNAME)"
      -var="admin_password=$(ADMIN_PASSWORD)"

- stage: Apply
  displayName: 'Terraform Apply (Dev)'
  dependsOn: Plan
  condition: succeeded()
  jobs:
    - deployment: ApplyInfra
      displayName: 'Apply Terraform Infra'
      environment: dev   # enables approval gate
      strategy:
        runOnce:
          deploy:
            steps:
              - task: TerraformTaskV4@4
                displayName: 'Terraform Apply'
                inputs:
                  provider: 'azurerm'
                  command: 'apply'
                  workingDirectory: 'environments/dev'
                  environmentServiceNameAzureRM: 'azure-terraform-conn'
                  commandOptions: >
                    -auto-approve
                    -input=false
                    -var="location=$(LOCATION)"
                    -var="rg_name=$(RG_NAME)"
                    -var="admin_username=$(ADMIN_USERNAME)"
                    -var="admin_password=$(ADMIN_PASSWORD)"



