trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  TF_VERSION: '1.6.6'

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: $(TF_VERSION)

- script: terraform fmt -check -recursive
  displayName: 'Terraform Format Check'

- script: terraform init
  workingDirectory: environments/dev
  displayName: 'Terraform Init (Dev)'

- script: terraform validate
  workingDirectory: environments/dev
  displayName: 'Terraform Validate (Dev)'

- script: terraform plan
  workingDirectory: environments/dev
  displayName: 'Terraform Plan (Dev)'
