trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  name: 'local-agent-pool'

variables:
  TF_VERSION: '1.6.6'

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: $(TF_VERSION)

- task: TerraformTaskV4@4
  displayName: 'Terraform Init (Dev)'
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: 'environments/dev'
    backendServiceArm: 'azure-terraform-conn'
    backendAzureRmResourceGroupName: 'rg-tf-backend'
    backendAzureRmStorageAccountName: 'tfstatemirhakim01'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'dev.terraform.tfstate'

- task: TerraformTaskV4@4
  displayName: 'Terraform Validate (Dev)'
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: 'environments/dev'

- task: TerraformTaskV4@4
  displayName: 'Terraform Plan (Dev)'
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: 'environments/dev'
    environmentServiceNameAzureRM: 'azure-terraform-conn'
